<template>
  <div class="hero-1 wrapper">
      <div class="row">
        <div class="col-6">
          <h1>welcome to a new era in germ protection.</h1>
        </div>
      </div>
      <div class="animation container">
        <div id="germs" class="germs"></div>
        <div id="hand" class="float-1"></div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'hero1',
  props: {
    msg: String
  },
  methods: {
    animation(){
        let spotCount = 20,
            handBox = document.createElement("div"),
            svg = document.createElementNS("http://www.w3.org/2000/svg", "svg"),
            NS = "http://www.w3.org/2000/svg",
            shadow = document.createElementNS(NS, "circle");

        //create germ germs
      for (let i = 0; i < spotCount; i++) {
          let svg1 = document.createElementNS("http://www.w3.org/2000/svg", "svg"),
              germs = document.createElementNS(NS, "circle"),
              container = document.createElement("div");
          svg1.setAttribute("height", 500);
          svg1.setAttribute("width", 1000);
          container.setAttribute('class', 'svg-container');
          germs.setAttribute('id', 'germ-' + (i + 1));
          germs.setAttribute("cx", rndNum(50, 700));
          germs.setAttribute("cy", rndNum( 0, 450));
          germs.setAttribute("r", rndNum(2.81534, 6.5396) );
          germs.setAttribute("fill", onOff()?'#79E6B1': 'none');
          germs.setAttribute("stroke", onOff()?'#79E6B1': 'none');
          germs.setAttribute("stroke-width", 2 );
          document.getElementById('germs').appendChild(container);
          container.appendChild(svg1);
          svg1.appendChild(germs);
          animategerms(germs)
      }

        // create boundary for hand image for collision detection
        document.getElementById('germs').appendChild(handBox);
        handBox.setAttribute("id", 'hand-container');
        handBox.appendChild(svg);
        svg.setAttribute("height", 542);
        svg.setAttribute("width", 1000);
        svg.appendChild(shadow);
        shadow.setAttribute("id", 'hand-shadow');
        shadow.setAttribute("cx", 835);
        shadow.setAttribute("cy", 271);
        shadow.setAttribute("r", 271);
        shadow.setAttribute("fill", 'none');
        shadow.setAttribute("stroke", 'red');
        shadow.setAttribute("stroke-width", 1);
        crashTest(shadow);

        //individual float motion functions
        function move1(el) {
            el.style.setProperty('transform', 'translate(0, 0)')
        }
        function move2(el) {
            el.style.setProperty('transform', 'translate(' + rndNum(5, 3) + 'px, ' + rndNum(5, 3) + 'px)')
        }
        function move3(el) {
            el.style.setProperty('transform', 'translate(' + rndNum(5, 3) + 'px, ' + rndNum(5, 3) + 'px)')
        }
      //collective spot float motion
        function animategerms(el) {
            el.style.setProperty('transition-property', 'transform');
            el.style.setProperty('transition-duration', '1000ms');
            el.style.setProperty('transition-timing-function', 'ease-in-out');
            for (let j = 0; j < 1000; j++) {
                window.setTimeout(()=> move1(el), j*2000),
                window.setTimeout(()=> move2(el), (j+.3)*2000)
                window.setTimeout(()=> move3(el), (j+.7)*2000)
            }
            window.setTimeout(() => findRect(el), 1000)
        }

        function crashTest(el){
            let i = 0;
            while (i < 100) {
                window.setTimeout(() => (moveLeft(el), 1000));
                i++;
            }
            function moveLeft (el) {
                el.style.setProperty('transform', 'translateX(-' + i + '%)')
            }
        }

        // // spotVar.getBoundingClientRect();    //BOUNDING BOX OF THE FIRST OBJECT
        // console.log(hand.getBoundingClientRect());    //BOUNDING BOX OF THE SECOND OBJECT
        // spotVar.style.setProperty('fill', 'rebeccapurple');
        // //CHECK IF THE TWO BOUNDING BOXES OVERLAP
        // // return !(hand.left > spotVar.right ||
        // //     hand.top > spotVar.bottom ||
        // //     hand.bottom < spotVar.top);

        function findRect() {
            console.log();
            // console.log(el.getBoundingClientRect().top, el.getBoundingClientRect().right, el.getBoundingClientRect().bottom);
        }

        function rndNum(min, max) {
            return Math.random() * (max - min) + min;
        }
        function onOff() {
            return Math.random() <= 0.3
        }
    }
  },
  mounted() {
    this.animation();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
