//mixins
@mixin zero-bound {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@mixin bg-grey-gradient {
  background: rgba(219, 219, 219, 1);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(219, 219, 219, 1)),
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(78%, rgba(255, 255, 255, 0.73)),
    color-stop(81%, rgba(255, 255, 255, 0.72)),
    color-stop(100%, rgba(255, 255, 255, 0.72))
  );
  background: linear-gradient(
    to bottom,
    rgba(219, 219, 219, 1) 0%,
    rgba(250, 250, 250, 1) 0%,
    rgba(255, 255, 255, 0.73) 78%,
    rgba(255, 255, 255, 0.72) 81%,
    rgba(255, 255, 255, 0.72) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
}
@mixin nav-menu-font {
  font-family: "apercu-medium" sans-serif;
  font-size: 21px;
  font-weight: medium;
  line-height: 80px;
  text-transform: capitalize;
}
@mixin text-box-title {
  font-family: "Apercu" sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}
@mixin text-box-text {
  font-family: "Apercu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: $lightGreyText;
}
@mixin sup {
  font-size: 20%;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 0;
}
@mixin h1 {
  font-family: "FreightDisp Pro", serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
  color: $darkBlueText;
}
@mixin hero-title {
  @include h1;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  min-height: 100px;
}
@mixin hero-text {
  @include text-box-text;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.hero-section {
  p.title {
    @include text-box-title;
  }
  p.text {
    @include text-box-text;
  }
}
