//#hero-1 {
//  &.wrapper {
//    .animation {
//      #germs {
//        display: block;
//        position: absolute;
//        left: 0;
//        right: 0;
//        z-index: -1;
//        .svg-container {
//          position: absolute;
//          left: 0;
//          right: 0;
//          border: 1px dotted green;
//
//
//        }
//        @for $i from 1 through 8 {
//          .float-#{$i} {
//            animation-name: Floating;
//            animation-duration: $i+s;
//            animation-iteration-count: infinite;
//            animation-timing-function: ease-in-out;
//          }
//        }
//        @-webkit-keyframes Floating{
//          from {transform:translate(0, 0px);}
//          65% {transform:translate(3px, 5px);}
//          to {transform: translate(0, 0px);}
//        }
//
//        #hand-container {
//          z-index: 0;
//          position: absolute;
//          left: 0;
//          right: 0;
//          border: 1px dotted red;
//        }
//      }
//    }
//  }
//}
//#hand {
//  background-image: url('../assets/img/hand-clear.png');
//  background-repeat: no-repeat;
//  background-size: contain;
//  height: 542px;
//  width: 542px;
//  display: block;
//  //float: right;
//  z-index: 10;
//  //position: absolute;
//}
//#boundary {
//  position: absolute;
//  z-index: 99;
//  poiter: cyrsor;
//}
