@import "../assets/partials/variables.scss";
@import "../assets/partials/mixins.scss";

//custom styling
//general
a {
  &:active,
  &:visited,
  &:focus,
  &:hover {
    color: unset;
    text-decoration: none;
  }
}
.row {
  display: flex;
}
.text-col {
  display: flex;
  align-items: center;
}
.z-10 {
  z-index: 10;
}
body {
  overflow-x: hidden;
}
.hero-section {
  padding-top: 40px;
  padding-bottom: 40px;
  .title {
    @include text-box-title;
  }
  .text {
    @include text-box-text;
  }
  .sup {
    @include sup;
  }
}

@for $i from 1 through 8 {
  &.float-#{$i} {
    animation-name: Floating;
    animation-duration: $i + s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
@keyframes Floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(3px, 5px);
  }
  to {
    transform: translate(0, 0px);
  }
}

//components
#header {
  background-color: $white;
  z-index: 999;
  position: relative;
  .row {
    display: flex;
    align-items: center;
  }
  .brand {
    a {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-flex;
      color: $nav-blue;
      @include nav-menu-font;
      padding: 20px;
    }
  }
  .icons {
    display: flex;
    justify-content: center;

    li {
      padding: 5px;
      border-radius: 50%;
      background-color: #fafafa;
      &:first-child {
        margin-right: 30px;
      }
      a {
        height: 30px;
        width: 30px;
        @include bg-img;
        &.nano {
          background-image: url("../assets/img/nanoIcon.svg");
        }
        &.cart {
          background-image: url("../assets/img/Union.svg");
        }
      }
    }
  }
}
#hero-1 {
  padding-top: 20px;
  @include bg-grey-gradient;
  position: relative;
  h1 {
    @include h1;
  }

  @for $i from 1 through 8 {
    .float-#{$i} {
      animation-name: Floating;
      animation-duration: $i + s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
  @keyframes Floating {
    from {
      transform: translate(0, 0px);
    }
    65% {
      transform: translate(3px, 5px);
    }
    to {
      transform: translate(0, 0px);
    }
  }
  @for $i from 1 through 8 {
    .germ-#{$i} {
      height: 10px;
      width: 10px;
      color: #79e6b1;
    }
  }
  #germs {
    position: absolute;
    @include zero-bound;
    z-index: 0;
  }

  .petrie-dish {
    opacity: 0;
  }
  &.animate {
    #germs {
      .petrie-dish {
        opacity: 1;
        @include zero-bound;
        width: 30%;
        animation: floatRight 10000ms linear infinite;
      }
      #petrie-2 {
        transform: scaleY(-1);
        animation: floatRight2 20000ms linear infinite;
      }
      @keyframes floatRight {
        from {
          left: 0%;
        }
        to {
          left: 61%;
        }
      }
      @keyframes floatRight2 {
        from {
          left: 0;
        }
        to {
          left: 80%;
        }
      }
      .mask-left,
      .mask-right {
        @include zero-bound;
        height: 100%;
        width: 30%;
        @include bg-grey-gradient;
        z-index: 9;
        &:before {
          content: "";
          @include zero-bound;
          @include bg-grey-gradient;
          z-index: 9;
        }
      }
      .mask-left {
        right: 80%;
        &:before {
          width: 110%;
          right: 78%;
          width: 110%;
          opacity: 0.6;
        }
      }
      .mask-right {
        width: 50%;
        left: 60%;
        top: 2%;
        border-radius: 50%;
        &:before {
          height: 102%;
          width: 110%;
          opacity: 1;
          left: -4%;
          top: -1%;
          border-radius: 50%;
        }
        &:after {
          content: "";
          @include zero-bound;
          width: 100%;
          left: 50%;
          top: -10px;
          @include bg-grey-gradient;
        }
      }
    }
  }
}
#hero-2 {
  background-color: $white;
  img.width-100 {
    width: 100%;
  }
  &.animate {
    #petrie-3 {
      &.petrie-dish {
        .germ-spot {
          @for $i from 1 through 50 {
            &.germ-#{$i} {
              animation: destroy (random(2) * 2) + s infinite ease-in-out;
            }
          }
        }
      }
    }
  }

  @keyframes destroy {
    to {
      left: 50%;
      top: 100%;
    }
  }
  .placeholder {
    opacity: 0;
  }
  .bottle-shadow {
    height: 59%;
    width: 22%;
    background-color: $bg-grey;
    position: absolute;
    top: 14%;
    left: 45%;
    transform: skew(-17deg, 18deg);
    border-radius: 20%;
    z-index: 1;
    &:after {
      content: "";
      @include zero-bound;
      background: $white;
      top: 103%;
      bottom: -38%;
    }
  }
  .mask-bg {
    position: absolute;
    left: 21.74%;
    top: 2.89%;
    right: 6.5%;
    bottom: 24.3%;
    background: $bg-grey;
    border-radius: 50%;
    z-index: 0;
  }
  .bottle-wrapper {
    @include zero-bound;
    z-index: 999;
  }
  .img-col {
    padding-bottom: 20px;
  }
  .over-img {
    z-index: 999;
    left: -9%;
    top: -4%;
    position: absolute;
  }
  .petrie-mask {
    @include zero-bound;
    width: 105%;
    height: 100%;
    background: radial-gradient(
      circle at center 39%,
      transparent 45%,
      $white 4%
    );
    margin-left: 7%;
    overflow: hidden;
  }
  @keyframes shrinkToCentre {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
}
#hero-5 {
  .icon-wrapper {
    &.proactive {
      .icon {
        background: url("../assets/img/proactive.svg");
        @include bg-img;
        height: 50px;
        width: 50px;
      }
    }
  }
}

#icon-block {
  .icon-wrapper {
    text-align: center;
    .title {
      @include hero-title;
    }
    .text {
      @include hero-text;
    }
    &.proactive {
      .icon:before {
        content: url("../assets/img/proactive.svg");
        height: 100px;
        width: 100px;
      }
    }
    &.kills {
      .icon:before {
        content: url("../assets/img/kills.svg");
        height: 100px;
        width: 100px;
      }
    }
    &.gentle {
      .icon:before {
        content: url("../assets/img/gentle.svg");
        height: 100px;
        width: 100px;
      }
    }
  }
}

.petrie-dish {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100%;
  .germ-spot {
    border-radius: 50px;
    position: absolute;
    z-index: 0;
  }
}
