.hero-section p.title {
  font-family: "Apercu" sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-section p.text {
  font-family: "Apercu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #808080;
}

a:active, a:visited, a:focus, a:hover {
  color: unset;
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.z-10 {
  z-index: 10;
}

body {
  overflow-x: hidden;
}

.hero-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-section .title {
  font-family: "Apercu" sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-section .text {
  font-family: "Apercu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #808080;
}

.hero-section .sup {
  font-size: 20%;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 0;
}

.float-1 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-2 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-3 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-4 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-5 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-6 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-7 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.float-8 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

#header {
  background-color: #ffffff;
  z-index: 999;
  position: relative;
}

#header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .brand a img {
  height: 100%;
  width: auto;
}

#header ul {
  list-style: none;
  margin: 0;
}

#header ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #5133ff;
  font-family: "apercu-medium" sans-serif;
  font-size: 21px;
  font-weight: medium;
  line-height: 80px;
  text-transform: capitalize;
  padding: 20px;
}

#header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .icons li {
  padding: 5px;
  border-radius: 50%;
  background-color: #fafafa;
}

#header .icons li:first-child {
  margin-right: 30px;
}

#header .icons li a {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#header .icons li a.nano {
  background-image: url("../assets/img/nanoIcon.svg");
}

#header .icons li a.cart {
  background-image: url("../assets/img/Union.svg");
}

#hero-1 {
  padding-top: 20px;
  background: #dbdbdb;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), color-stop(100%, rgba(255, 255, 255, 0.72)));
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), to(rgba(255, 255, 255, 0.72)));
  background: linear-gradient(to bottom, #dbdbdb 0%, #fafafa 0%, rgba(255, 255, 255, 0.73) 78%, rgba(255, 255, 255, 0.72) 81%, rgba(255, 255, 255, 0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
  position: relative;
}

#hero-1 h1 {
  font-family: "FreightDisp Pro", serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b0066;
}

#hero-1 .float-1 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-2 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-3 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-4 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-5 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-6 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-7 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#hero-1 .float-8 {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

#hero-1 .germ-1 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-2 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-3 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-4 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-5 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-6 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-7 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 .germ-8 {
  height: 10px;
  width: 10px;
  color: #79e6b1;
}

#hero-1 #germs {
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

#hero-1 .petrie-dish {
  opacity: 0;
}

#hero-1.animate #germs .petrie-dish {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  -webkit-animation: floatRight 10000ms linear infinite;
          animation: floatRight 10000ms linear infinite;
}

#hero-1.animate #germs #petrie-2 {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-animation: floatRight2 20000ms linear infinite;
          animation: floatRight2 20000ms linear infinite;
}

@-webkit-keyframes floatRight {
  from {
    left: 0%;
  }
  to {
    left: 61%;
  }
}

@keyframes floatRight {
  from {
    left: 0%;
  }
  to {
    left: 61%;
  }
}

@-webkit-keyframes floatRight2 {
  from {
    left: 0;
  }
  to {
    left: 80%;
  }
}

@keyframes floatRight2 {
  from {
    left: 0;
  }
  to {
    left: 80%;
  }
}

#hero-1.animate #germs .mask-left,
#hero-1.animate #germs .mask-right {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 30%;
  background: #dbdbdb;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), color-stop(100%, rgba(255, 255, 255, 0.72)));
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), to(rgba(255, 255, 255, 0.72)));
  background: linear-gradient(to bottom, #dbdbdb 0%, #fafafa 0%, rgba(255, 255, 255, 0.73) 78%, rgba(255, 255, 255, 0.72) 81%, rgba(255, 255, 255, 0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
  z-index: 9;
}

#hero-1.animate #germs .mask-left:before,
#hero-1.animate #germs .mask-right:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #dbdbdb;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), color-stop(100%, rgba(255, 255, 255, 0.72)));
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), to(rgba(255, 255, 255, 0.72)));
  background: linear-gradient(to bottom, #dbdbdb 0%, #fafafa 0%, rgba(255, 255, 255, 0.73) 78%, rgba(255, 255, 255, 0.72) 81%, rgba(255, 255, 255, 0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
  z-index: 9;
}

#hero-1.animate #germs .mask-left {
  right: 80%;
}

#hero-1.animate #germs .mask-left:before {
  width: 110%;
  right: 78%;
  width: 110%;
  opacity: 0.6;
}

#hero-1.animate #germs .mask-right {
  width: 50%;
  left: 60%;
  top: 2%;
  border-radius: 50%;
}

#hero-1.animate #germs .mask-right:before {
  height: 102%;
  width: 110%;
  opacity: 1;
  left: -4%;
  top: -1%;
  border-radius: 50%;
}

#hero-1.animate #germs .mask-right:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  top: -10px;
  background: #dbdbdb;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), color-stop(100%, rgba(255, 255, 255, 0.72)));
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(0%, #fafafa), color-stop(78%, rgba(255, 255, 255, 0.73)), color-stop(81%, rgba(255, 255, 255, 0.72)), to(rgba(255, 255, 255, 0.72)));
  background: linear-gradient(to bottom, #dbdbdb 0%, #fafafa 0%, rgba(255, 255, 255, 0.73) 78%, rgba(255, 255, 255, 0.72) 81%, rgba(255, 255, 255, 0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
}

#hero-2 {
  background-color: #ffffff;
}

#hero-2 img.width-100 {
  width: 100%;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-1 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-2 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-3 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-4 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-5 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-6 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-7 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-8 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-9 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-10 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-11 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-12 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-13 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-14 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-15 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-16 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-17 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-18 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-19 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-20 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-21 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-22 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-23 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-24 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-25 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-26 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-27 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-28 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-29 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-30 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-31 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-32 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-33 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-34 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-35 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-36 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-37 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-38 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-39 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-40 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-41 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-42 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-43 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-44 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-45 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-46 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-47 {
  -webkit-animation: destroy 4s infinite linear;
          animation: destroy 4s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-48 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-49 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

#hero-2.animate #petrie-3.petrie-dish .germ-spot.germ-50 {
  -webkit-animation: destroy 2s infinite linear;
          animation: destroy 2s infinite linear;
}

@-webkit-keyframes destroy {
  to {
    background: transparent;
    border-color: transparent;
    left: 50%;
  }
}

@keyframes destroy {
  to {
    background: transparent;
    border-color: transparent;
    left: 50%;
  }
}

#hero-2 .placeholder {
  opacity: 0;
}

#hero-2 .bottle-shadow {
  height: 58%;
  width: 22%;
  background-color: #fbfbfb;
  position: absolute;
  top: 14%;
  left: 45%;
  -webkit-transform: skew(-17deg, 10deg);
          transform: skew(-17deg, 10deg);
  z-index: 1;
}

#hero-2 .bottle-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
  top: 103%;
  bottom: -38%;
}

#hero-2 .mask-bg {
  position: absolute;
  left: 21.74%;
  top: 2.89%;
  right: 6.5%;
  bottom: 24.3%;
  background: #fbfbfb;
  border-radius: 50%;
  z-index: 0;
}

#hero-2 .bottle-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}

#hero-2 .img-col {
  padding-bottom: 20px;
}

#hero-2 .over-img {
  z-index: 999;
  left: -9%;
  top: -4%;
  position: absolute;
}

#hero-2 .petrie-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 105%;
  height: 100%;
  background: radial-gradient(circle at center 39%, transparent 45%, #ffffff 4%);
  margin-left: 7%;
  overflow: hidden;
}

@-webkit-keyframes shrinkToCentre {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shrinkToCentre {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#hero-5 .icon-wrapper.proactive .icon {
  background: url("../assets/img/proactive.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
}

#icon-block .icon-wrapper {
  text-align: center;
}

#icon-block .icon-wrapper .title {
  font-family: "FreightDisp Pro", serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b0066;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  min-height: 100px;
}

#icon-block .icon-wrapper .text {
  font-family: "Apercu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #808080;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

#icon-block .icon-wrapper.proactive .icon:before {
  content: url("../assets/img/proactive.svg");
  height: 100px;
  width: 100px;
}

#icon-block .icon-wrapper.kills .icon:before {
  content: url("../assets/img/kills.svg");
  height: 100px;
  width: 100px;
}

#icon-block .icon-wrapper.gentle .icon:before {
  content: url("../assets/img/gentle.svg");
  height: 100px;
  width: 100px;
}

.petrie-dish {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100%;
}

.petrie-dish .germ-spot {
  border-radius: 50px;
  position: absolute;
  z-index: 0;
}
/*# sourceMappingURL=styles.css.map */